.home-container {
    display: block;
    height: 100dvh;
    width: 100%;
    overflow: hidden;

    background-color: var(--light-color);
}

.home-header {
    height: 80px;
    width: 100%;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: var(--large-txt);
    font-weight: var(--medium-weight);
    color: var(--main-color);
}

app-ui-avatar {
    width: 55px;
    height: 55px;
}